.App {
  /* display: flex; */
  height: 100vh;
  display: relative;
}

.left-nav {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100px; */
  background-color: #3d5afc;
  color: white;
  padding: 1rem;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.sub-title {
  display: block;
  font-size: 20px;
  font-weight: 300;
}

.patient-card {
  max-width: 400px;
}

@media screen and (min-width: 700px) {
  .sub-title {
    display: initial;
    padding-left: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .processing {
    display: flex;
    justify-content: space-around;
  }

  .process-columns {
    width: 30%;
  }
}

@media screen and (min-width: 800px) {
  .App {
    display: flex;
  }

  .left-nav {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 5%;
    align-items: center;
  }

  .right-content {
    width: 95%;
  }
}
