.App {
  display: flex;
}

.left-nav {
  display: flex;
  flex-direction: column;
  width: 100px;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100px; */
  background-color: #3d5afc;
  color: white;
  padding: 1rem;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.sub-title {
  display: block;
  font-size: 20px;
  font-weight: 300;
}

@media screen and (min-width: 700px) {
  .sub-title {
    display: initial;
    padding-left: 1rem;
  }

  @media screen and (min-width: 800px) {
    .sub-title {
      display: initial;
      padding-left: 1rem;
    }
  
}
