.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: transparant;
  padding: 2rem;
  border-radius: 0.5rem;
  z-index: 1;
}

.modal form input {
  display: block;
  margin-bottom: 1rem;
}

.cancel-modal {
  cursor: pointer;
}
