.inner-patient-card {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.card-priority {
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-priority h4 {
  margin: 0;
}

.buttons {
  /* display: flex; */
  justify-content: center;
}

.start-button {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #06abeb;
  font-weight: 700;
}

.complete-button {
  cursor: pointer;
  display: inline-block;
  border: none;
  background-color: transparent;
  color: #06abeb;
  font-weight: 700;
}
