.inner-patient-card {
  background-color: #ffffff;
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.card-priority {
  position: absolute;
  right: 10px;
  top: 10px;

}

.card-priority h4 {
  
}

